# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_API_KEY=enter-value
TRELLO_API_TOKEN=enter-value
TRELLO_BOARD_ID=enter-value
TRELLO_NS_LIST_ID=enter-value
TRELLO_COMPLETE_LIST_ID=enter-value