{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
        {% if list_of_items %}
          <h2 class="text-center my-5">Status Table</h2>
          <table class="table table-responsive table-hover shadow p-3 mb-5 bg-body rounded">
              <thead>
                  <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in list_of_items %}
                    <tr {% if item.is_complete() %}class="table-success"{% endif %}>
                      <th scope="row">{{ item.get_title() }}</th>
                      <td class="wrap-table-text">{{ item.get_status() }}</td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Open Action Menu</button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% if item.is_complete() %}
                              <li><a class="dropdown-item" href="{{ url_for('mark_todo_item_not_started', id=item.id) }}">Mark as 'Not Started'</a></li>
                            {% else %}
                              <li><a class="dropdown-item" href="{{ url_for('mark_todo_item_complete', id=item.id) }}">Mark as 'Complete'</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('delete_todo_item', id=item.get_id()) }}" onclick="confirm_deletion(event)">Delete Item</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        {% else %}
          <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
              <h2 class="mb 3">No items found</h2>
          </div>
        {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="shadow p-3 mb-5 bg-body rounded" action="/add_todo_item" method="post">
            <div class="row">
                <p class="text-danger text-end fs-5">* required</p>
            </div>
            <div class="mb-3">
                <label for="titleInput1" class="form-label">Title <span class="text-danger">*</span></label>
                <input name="title" type="text" class="form-control" id="titleInput1" value="" required />
            </div>
            <div class="d-grid d-md-block mt-5">
                <button type="submit" class="btn btn-primary btn-lg">ADD TODO ITEM</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    function confirm_deletion(event) {
        if (!window.confirm("Do you really want to delete this item?")) {
          event.preventDefault();
        }
    }
  </script>
{% endblock %}