{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App - Home</h1>
    <p class="lead">Just another to-do app. </p>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto">
      {% if view_model.items %}
        <p>
          <button type="button" class="btn btn-primary" onclick="create_item_button()">Create Item</button>
        </p>
        {% with list_of_items=view_model.todo_items, table_heading='To Do' %}
          {% include "table.html" %}
        {% endwith %}
        {% with list_of_items=view_model.doing_items, table_heading='Doing' %}
          {% include "table.html" %}
        {% endwith %}
        {% with list_of_items=view_model.done_items, table_heading='Done' %}
          {% include "table.html" %}
        {% endwith %}
      {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
          <h2 class="mb 3">No items found</h2>
          <button type="button" class="btn btn-primary btn-lg" onclick="create_item_button()">CREATE ITEM</button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    function confirm_deletion(event) {
      if (!window.confirm("Do you really want to delete this item?")) {
        event.preventDefault();
      }
    }
    function create_item_button() {
      window.location.href = "{{ url_for('add_todo_item') }}";
    }
  </script>
{% endblock %}